#title
{
  font-family:Calibri;
  font-size:24pt;
  foreground-color:#FF00FF;
  text-align:center;
}

#brief
{
   left:10%;
   top:20%;
   width:80%;
   height:200;
   border-color:#00000A;
   background-color:#AABBCC;
   position:absolute;
   font-family:Calibri;
}

#login
{
    left:70%;
    top:45%;
    width:200;
    height:250;
    background-color:#11B2CF;
    font-family:Calibri;
    position:absolute;
}

#nav
{
    font-family:Calibri;
    foreground-color:#FF0000;
    font-weight:bold;
}

#caption
{
    font-family:Constantia;
    font-size:12pt;
    font-style:italic;
}